<div class="main">
    <molla-page-header title="{{'HEADER.ABOUT_US' | translate}}"></molla-page-header>
    <nav class="breadcrumb-nav border-0 mb-0">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">{{'BREADCRUMB.HOME' | translate}}</a>
                </li>
                <li class="breadcrumb-item active">{{'BREADCRUMB.ABOUT' | translate}}</li>
            </ol>
        </div>
    </nav>

    <div class="page-content pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="about-text text-center mt-3">
                        <h2 class="title text-center mb-2">{{"ABOUT.WHO_WE_ARE" | translate}}</h2>
                        <p>{{"ABOUT.WHO_WE_ARE" | translate}}</p>
                        <img src="assets/images/about/about-2/signature.png" alt="signature" class="mx-auto mb-5">

                        <molla-image src="assets/images/about/about-2/img-1.jpg" width="933" height="390" alt="signature"
                            class="mx-auto w-100 mb-6"></molla-image>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="icon-box col-lg-4 col-sm-6" [ngClass]="item.adClass" *ngFor="let item of iconBoxes">
                    <span class="icon-box-icon">
                        <i [ngClass]="item.icon"></i>
                    </span>
                    <div class="icon-box-content">
                        <ng-container *ngIf="currentLang === 'vi'; else langEn">
                          <h3 class="icon-box-title">{{ item.title_vi }}</h3>
                          <p [innerHTML]="item.content_vi | safeContent"></p>
                        </ng-container>
                        <ng-template #langEn>
                          <h3 class="icon-box-title">{{ item.title }}</h3>
                          <p [innerHTML]="item.content | safeContent"></p>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-2"></div>

        <div class="bg-image pt-7 pb-5 pt-md-12 pb-md-9"
            style="background-image: url(assets/images/backgrounds/bg-4.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4" *ngFor="let counter of counters;">
                        <div class="count-container text-center">
                            <div class="count-wrapper text-white">
                                <molla-count-to [from]="0" [to]="counter.limit" [speed]="3000" [interval]="50">0
                                </molla-count-to>
                                {{ counter.unit }}
                            </div>
                            <ng-container *ngIf="currentLang === 'vi'; else counterEn">
                              <h3 class="count-title text-white">{{ counter.text_vi }}</h3>
                            </ng-container>
                            <ng-template #counterEn>
                              <h3 class="count-title text-white">{{ counter.text }}</h3>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
