<div class="modal-body">
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true"><i class="icon-close"></i></span>
  </button>

  <div class="form-box">
    <div class="form-tab nav-fill">
      <ul ngbNav #nav="ngbNav" class="justify-content-center nav nav-pills">
        <li ngbNavItem>
          <a ngbNavLink>{{"LOGIN.SIGN_IN" | translate}}</a>
          <ng-template ngbNavContent>
            <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
              <ng-container *ngIf="errorLoginMessage !== undefined">
                <div class="alert alert-danger mb-3">
                  {{errorLoginMessage}}
                </div>
              </ng-container>

              <div class="form-group">
                <label for="singin-email">Email *</label>
                <input type="text" class="form-control" id="singin-email" name="singin-email" required
                  formControlName="email">
                <div class="alert alert-danger mt-1"
                  *ngIf="loginFormGroup.get('email').invalid && (loginFormGroup.get('email').dirty || loginFormGroup.get('email').touched)">
                  <div *ngIf="loginFormGroup.get('email').errors['required']">
                    Email is required
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="singin-password">{{"LOGIN.PASSWORD" | translate}}</label>
                <input type="password" class="form-control" id="singin-password" name="singin-password" required
                  formControlName="password">
                <div class="alert alert-danger mt-1"
                  *ngIf="loginFormGroup.get('password').invalid && (loginFormGroup.get('password').dirty || loginFormGroup.get('password').touched)">
                  <div *ngIf="loginFormGroup.get('password').errors['required']">
                    Password is required
                  </div>
                </div>
              </div>

              <div class="form-footer">
                <button type="submit" class="btn btn-outline-primary-2">
                  <span>{{"LOGIN.LOGIN" | translate}}</span>
                  <i class="icon-long-arrow-right"></i>
                </button>
              </div>
            </form>
          </ng-template>
        </li>










        <li ngbNavItem>
          <a ngbNavLink>{{"LOGIN.REGISTER" | translate}}</a>
          <ng-template ngbNavContent>
            <form [formGroup]="registerFormGroup" (ngSubmit)="register()">
              <ng-container *ngIf="registerLoginMessage !== undefined">
                <div class="alert alert-success mb-3">
                  {{registerLoginMessage}}
                </div>
              </ng-container>

              <div class="form-group">
                <label for="register-email">Email *</label>
                <input type="email" class="form-control" required formControlName="email">

                <div class="alert alert-danger mt-1"
                  *ngIf="registerFormGroup.get('email').invalid && (registerFormGroup.get('email').dirty || registerFormGroup.get('email').touched)">
                  <div *ngIf="registerFormGroup.get('email').errors['required']">
                    Email is required
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="register-password">{{"LOGIN.PASSWORD" | translate}}</label>
                <input type="password" class="form-control" required formControlName="password">

                <div class="alert alert-danger mt-1"
                  *ngIf="registerFormGroup.get('password').invalid && (registerFormGroup.get('password').dirty || registerFormGroup.get('password').touched)">
                  <div *ngIf="registerFormGroup.get('password').errors['required']">
                    Password is required
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="register-password">{{"LOGIN.FULL_NAME" | translate}}</label>
                <input type="text" class="form-control" required formControlName="fullName">

                <div class="alert alert-danger mt-1"
                  *ngIf="registerFormGroup.get('fullName').invalid && (registerFormGroup.get('fullName').dirty || registerFormGroup.get('fullName').touched)">
                  <div *ngIf="registerFormGroup.get('fullName').errors['required']">
                    Full Name is required
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="register-password">{{"LOGIN.PHONE_NUMBER" | translate}}</label>
                <input type="text" class="form-control" required formControlName="phoneNumber">

                <div class="alert alert-danger mt-1"
                  *ngIf="registerFormGroup.get('phoneNumber').invalid && (registerFormGroup.get('phoneNumber').dirty || registerFormGroup.get('phoneNumber').touched)">
                  <div *ngIf="registerFormGroup.get('phoneNumber').errors['required']">
                    Phone Number is required
                  </div>
                </div>
              </div>

              <div class="form-footer">
                <button type="submit" class="btn btn-outline-primary-2">
                  <span>{{"LOGIN.SIGN_UP" | translate}}</span>
                  <i class="icon-long-arrow-right"></i>
                </button>
              </div>
            </form>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>
