<div class="main">
    <molla-page-header title="{{'CATEGORY.PRODUCT_CATEGORY' | translate}}"></molla-page-header>

    <nav class="breadcrumb-nav breadcrumb-with-filter">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/">{{'BREADCRUMB.HOME' | translate}}</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/products/shop/list">{{'BREADCRUMB.PRODUCT' | translate}}</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/products/shop/list">{{'BREADCRUMB.CATEGORY' | translate}}</a>
                </li>
            </ol>
        </div>
    </nav>

    <div class="page-content">
        <div class="categories-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="banner banner-cat banner-badge">
                            <a routerLink="/products/shop/list">
                                <molla-image src="assets/images/category/wall-mirror.png" width="580" height="580"
                                    alt="Banner">
                                </molla-image>
                            </a>

                            <a class="banner-link" routerLink="/products/shop/list">
                                <h3 class="banner-title">Wall Mirror</h3>
                                <span class="banner-link-text">Shop Now</span>
                            </a>
                        </div>

                        <div class="banner banner-cat banner-badge">
                            <a routerLink="/products/shop/list">
                                <molla-image src="assets/images/category/floor-mirror.jpg" width="580" height="280"
                                    alt="Banner">
                                </molla-image>
                            </a>

                            <a class="banner-link" routerLink="/products/shop/list">
                                <h3 class="banner-title">Floor Mirror</h3>
                                <span class="banner-link-text">Shop Now</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="banner banner-cat banner-badge">
                                    <a routerLink="/products/shop/list">
                                        <molla-image src="assets/images/category/decorative-mirror.jpg" width="280"
                                            height="280" alt="Banner">
                                        </molla-image>
                                    </a>

                                    <a class="banner-link" routerLink="/products/shop/list">
                                        <h3 class="banner-title">Decorative Mirror</h3>
                                        <span class="banner-link-text">Shop Now</span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="banner banner-cat banner-badge">
                                    <a routerLink="/products/shop/list">
                                        <molla-image src="assets/images/category/vanity-mirror.jpg" width="280"
                                            height="280" alt="Banner">
                                        </molla-image>
                                    </a>

                                    <a class="banner-link" routerLink="/products/shop/list">
                                        <h3 class="banner-title">Vanity Mirror</h3>
                                        <span class="banner-link-text">Shop Now</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="banner banner-cat banner-badge">
                            <a routerLink="/products/shop/list">
                                <molla-image src="assets/images/category/bathroom-mirror.jpg" width="580" height="580"
                                    alt="Banner">
                                </molla-image>
                            </a>

                            <a class="banner-link" routerLink="/products/shop/list">
                                <h3 class="banner-title">Bathroom Mirror</h3>
                                <span class="banner-link-text">Shop Now</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
