<div class="row">
    <div class="col-lg-8 col-md-12">
        <nb-card>
            <nb-card-header class="d-flex justify-content-between align-items-center">
                <h6>
                    Coupon List
                </h6>
                <nb-select [placeholder]="'Items Per Page'" [(selected)]="numberOfItem"
                    (selectedChange)="numberOfItemsChange()">
                    <nb-select-label>
                        Number Of Item: {{ numberOfItem }}
                    </nb-select-label>
                    <nb-option value="10">10</nb-option>
                    <nb-option value="20">20</nb-option>
                    <nb-option value="50">50</nb-option>
                </nb-select>
            </nb-card-header>
            <nb-card-body>
                <ng2-smart-table id="product-table" [settings]="settings" [source]="source"
                    (mouseover)="changeCursor()">
                </ng2-smart-table>
            </nb-card-body>
            <nb-card-footer>

            </nb-card-footer>
        </nb-card>
    </div>
    <div class="col-lg-4 col-md-12">
        <ng-container *ngIf="state === 'add'">
            <ngx-products-coupon-add></ngx-products-coupon-add>
        </ng-container>

        <ng-container *ngIf="state === 'edit'">
            <ngx-products-coupon-edit></ngx-products-coupon-edit>
        </ng-container>
    </div>
</div>