<form [formGroup]="addProductFormGroup">
    <nb-card fullWidth>
        <nb-card-header>
            <div class="row">
                <div class="col d-flex align-items-center justify-content-between">
                    <h6>
                        Add A Product
                    </h6>
                    <button nbButton status="success" size="large" (click)="onSubmit()">PUBLISH</button>
                </div>
            </div>
        </nb-card-header>
    </nb-card>
    <div class="row">
        <div class="col-lg-6">
            <nb-card formGroupName="product">
                <nb-card-header>Basic Information</nb-card-header>
                <nb-card-body>
                    <input type="text" nbInput fullWidth placeholder="Product Name" formControlName="name" maxlength="200">
                    <div class="alert alert-danger mt-1" 
                        *ngIf="addProductFormGroup.get('product.name').invalid && (addProductFormGroup.get('product.name').dirty || addProductFormGroup.get('product.name').touched)">
                        <div *ngIf="addProductFormGroup.get('product.name').errors['notblank']">
                            Product Name is required
                        </div>

                        <div *ngIf="addProductFormGroup.get('product.name').errors['maxlength']">
                            Product Name must not exceed 200 characters
                        </div>
                    </div>

                    <nb-select fullWidth selected="1" placeholder="Category" 
                        [(selected)]="selectedCategoryName" formControlName="category">
                        <nb-select-label>
                            Category: {{ selectedCategoryName }}
                        </nb-select-label>
                        <nb-option *ngFor="let cate of categories" value="{{cate.categoryName }}">{{cate.categoryName}}</nb-option>
                    </nb-select>
                    <div class="alert alert-danger mt-1" 
                        *ngIf="addProductFormGroup.get('product.category').invalid && (addProductFormGroup.get('product.category').dirty || addProductFormGroup.get('product.category').touched)">
                        <div *ngIf="addProductFormGroup.get('product.category').errors['notblank']">
                            Category is required
                        </div>
                    </div>

                    <nb-select fullWidth selected="1" placeholder="Shape" 
                        [(selected)]="selectedShapeName" formControlName="shape">
                        <nb-select-label>
                            Shape: {{ selectedShapeName }}
                        </nb-select-label>
                        <nb-option *ngFor="let shape of shapes" value="{{shape.shapeName}}">{{shape.shapeName}}</nb-option>
                    </nb-select>
                    <div class="alert alert-danger mt-1" 
                        *ngIf="addProductFormGroup.get('product.shape').invalid && (addProductFormGroup.get('product.shape').dirty || addProductFormGroup.get('product.shape').touched)">
                        <div *ngIf="addProductFormGroup.get('product.shape').errors['notblank']">
                            Shape is required
                        </div>
                    </div>

                    <nb-select fullWidth selected="1" placeholder="Style" 
                        [(selected)]="selectedStyleName" formControlName="style">
                        <nb-select-label>
                            Style: {{ selectedStyleName }}
                        </nb-select-label>
                        <nb-option *ngFor="let style of styles" value="{{style.styleName}}">{{style.styleName}}</nb-option>
                    </nb-select>
                    <div class="alert alert-danger mt-1" 
                        *ngIf="addProductFormGroup.get('product.style').invalid && (addProductFormGroup.get('product.style').dirty || addProductFormGroup.get('product.style').touched)">
                        <div *ngIf="addProductFormGroup.get('product.style').errors['notblank']">
                            Style is required
                        </div>
                    </div>
                    
                    <ckeditor class="ckeditor" [editor]="Editor" [config]="editorConfig" formControlName="description" maxlength="500"></ckeditor>
                    <div class="alert alert-danger mt-1" 
                        *ngIf="addProductFormGroup.get('product.description').invalid && (addProductFormGroup.get('product.description').dirty || addProductFormGroup.get('product.description').touched)">
                        <div *ngIf="addProductFormGroup.get('product.description').errors['notblank']">
                            Product description is required
                        </div>

                        <div *ngIf="addProductFormGroup.get('product.description').errors['maxlength']">
                            Product description must not exceed 1000 characters
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" mutliple class="custom-file-input" multiple
                                accept="image/png, image/jpeg" (change)="selectFiles($event)">
                            <label class="custom-file-label">Choose images</label>
                        </div>
                    </div>
    
                    <ngx-images-carousel></ngx-images-carousel>
                </nb-card-body>
            </nb-card>
        </div>
    
        <div class="col-lg-6" formArrayName="variants">
            <nb-card>
                <nb-card-header>Product Variants</nb-card-header>
                <nb-card-body>
                    <nb-accordion multi>
                        <nb-accordion-item *ngFor="let form of variants.controls; let i = index">
                            <nb-accordion-item-header class="d-flex justify-content-between align-items-center">
                                <p class="font-weight-bold">Variant #{{i + 1}}</p>
                                <p>
                                    {{ variants.controls[i].get('height').value === null ? '' : 'h:' + variants.controls[i].get('height').value + 'cm'}}
                                    {{ variants.controls[i].get('width').value === null ? '' : ' - w:' +variants.controls[i].get('width').value +'cm'}}
                                    {{ variants.controls[i].get('price').value === null ? '' : ' - ' + (variants.controls[i].get('price').value | currency: 'USD')}}
                                    {{ variants.controls[i].get('quantity').value === null ? '' : '*' + variants.controls[i].get('quantity').value }}
                                    
                                    <ng-container *ngIf="variants.controls[i].get('colorType').value === 'Custom Color'">
                                        {{' - ' + variants.controls[i].get('customColorValue').value}}
                                    </ng-container>
                                    <ng-container *ngIf="variants.controls[i].get('colorType').value === 'Basic Color'">
                                        {{' - ' + variants.controls[i].get('basicColorValue').value}}
                                    </ng-container>
                                </p>
                                <ng-container *ngIf="i !== 0">
                                    <button nbButton [size]="'small'" [status]="'danger'" 
                                        class="mr-5" (click)="removeVariant(i)">
                                        <nb-icon icon="trash-outline"></nb-icon>
                                    </button>
                                </ng-container>
                                <ng-container *ngIf="i === 0">
                                    <button nbButton [size]="'small'" [status]="'danger'" 
                                        class="mr-5" (click)="removeVariant(i)" style="visibility: hidden">
                                    <nb-icon icon="trash-outline"></nb-icon>
                                    </button>
                                </ng-container>
                            </nb-accordion-item-header>
                            <nb-accordion-item-body [formGroupName]="i">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 my-2">
                                        <input type="number" nbInput fullWidth 
                                            placeholder="Height (cm)" formControlName="height">
                                        <div class="alert alert-danger mt-1" 
                                            *ngIf="variants.controls[i].get('height').invalid && (variants.controls[i].get('height').dirty || variants.controls[i].get('height').touched)">
                                            <div *ngIf="variants.controls[i].get('height').errors['required']">
                                                Height is required
                                            </div>
                                            <div *ngIf="variants.controls[i].get('height').errors['min']">
                                                Min value is 1
                                            </div>
                                            <div *ngIf="variants.controls[i].get('height').errors['max']">
                                                Max value is 10000
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 my-2">
                                        <input type="number" nbInput fullWidth 
                                            placeholder="Width (cm)" formControlName="width">
                                        <div class="alert alert-danger mt-1" 
                                            *ngIf="variants.controls[i].get('width').invalid && (variants.controls[i].get('width').dirty || variants.controls[i].get('width').touched)">
                                            <div *ngIf="variants.controls[i].get('width').errors['required']">
                                                Width is required
                                            </div>
                                            <div *ngIf="variants.controls[i].get('width').errors['min']">
                                                Min value is 1
                                            </div>
                                            <div *ngIf="variants.controls[i].get('width').errors['max']">
                                                Max value is 10000
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 my-2">
                                        <input type="number" nbInput fullWidth 
                                            placeholder="Price ($)" formControlName="price">
                                        <div class="alert alert-danger mt-1" 
                                            *ngIf="variants.controls[i].get('price').invalid && (variants.controls[i].get('price').dirty || variants.controls[i].get('price').touched)">
                                            <div *ngIf="variants.controls[i].get('price').errors['required']">
                                                Price is required
                                            </div>
                                            <div *ngIf="variants.controls[i].get('price').errors['min']">
                                                Min value is 1
                                            </div>
                                            <div *ngIf="variants.controls[i].get('price').errors['max']">
                                                Max value is 10000
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 my-2">
                                        <input type="number" nbInput fullWidth 
                                            placeholder="Quantity" formControlName="quantity">
                                        <div class="alert alert-danger mt-1" 
                                            *ngIf="variants.controls[i].get('quantity').invalid && (variants.controls[i].get('quantity').dirty || variants.controls[i].get('quantity').touched)">
                                            <div *ngIf="variants.controls[i].get('quantity').errors['required']">
                                                Quantity is required
                                            </div>
                                            <div *ngIf="variants.controls[i].get('quantity').errors['min']">
                                                Min value is 1
                                            </div>
                                            <div *ngIf="variants.controls[i].get('quantity').errors['max']">
                                                Max value is 10000
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 my-2">
                                        <nb-radio-group formControlName="colorType" name="{{i}}">
                                            <nb-radio value="Basic Color">Basic Color</nb-radio>
                                            <nb-radio value="Custom Color">Custom Color</nb-radio>
                                        </nb-radio-group>
                                        <div class="alert alert-danger mt-1" 
                                            *ngIf="variants.controls[i].get('colorType').invalid && (variants.controls[i].get('colorType').dirty || variants.controls[i].get('colorType').touched)">
                                            <div *ngIf="variants.controls[i].get('colorType').errors['required']">
                                                Color Type is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 my-2">
                                        <ng-container *ngIf="variants.controls[i].get('colorType').value === 'Basic Color'">
                                            <nb-select fullWidth placeholder="Color" formControlName="basicColorValue">
                                                <nb-select-label>
                                                    Color: {{ variants.controls[i].get('basicColorValue').value }}
                                                </nb-select-label>
                                                <nb-option *ngFor="let color of colors" value="{{color.colorName}}">{{color.colorName}}</nb-option>
                                            </nb-select>
                                        </ng-container>
                                        <ng-container *ngIf="variants.controls[i].get('colorType').value === 'Custom Color'">
                                            <input type="text" nbInput fullWidth placeholder="Color name" formControlName="customColorValue">
                                        </ng-container>
                                        <div class="alert alert-danger my-2" 
                                            *ngIf="variants.controls[i].get('colorType').value === 'Basic Color' && 
                                                    variants.controls[i].get('basicColorValue').invalid &&
                                                    (variants.controls[i].get('basicColorValue').dirty || variants.controls[i].get('basicColorValue').touched)">
                                            <div *ngIf="variants.controls[i].get('basicColorValue').errors['required']">
                                                Color is required
                                            </div>
                                        </div>
                                        <div class="alert alert-danger my-2" 
                                            *ngIf="variants.controls[i].get('colorType').value === 'Custom Color' && 
                                                    variants.controls[i].get('customColorValue').invalid &&
                                                    (variants.controls[i].get('customColorValue').dirty || variants.controls[i].get('customColorValue').touched)">
                                            <div *ngIf="variants.controls[i].get('customColorValue').errors['required']">
                                                Color is required
                                            </div>
                                            <div *ngIf="variants.controls[i].get('customColorValue').errors['maxlength']">
                                                Color Name must not exceed 50 characters
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4">
                                        <div class="input-group mb-3">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input"
                                                    accept="image/png, image/jpeg" (change)="selectFile($event, i)">
                                                <label class="custom-file-label">Choose images</label>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="variants.controls[i].get('imageUrl').value !== null">
                                        <div class="col-lg-8">
                                            <img [src]="variants.controls[i].get('imageUrl').value" class="d-block w-100" alt="Slide Image">
                                        </div>
                                    </ng-container>
                                </div>
                            </nb-accordion-item-body>
                        </nb-accordion-item>
                    </nb-accordion>
    
    
                </nb-card-body>
                <nb-card-footer>
                    <button nbButton [status]="'success'" (click)="addVariant()">
                        <nb-icon icon="plus-outline"></nb-icon>
                    </button>
                </nb-card-footer>
            </nb-card>
    
    
        </div>
    </div>
</form>

