<main class="main home-page skeleton-body">
    <div class="intro-section pt-5" style="background-image: url('assets/images/home/background/1.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="intro-slider-container slider-container-ratio slider-container-1 mb-2 mb-lg-0">
                        <owl-carousel carouselClasses="intro-slider intro-slider-1 owl-simple owl-light owl-nav-inside" [options]="introSlider">
                            <div class="intro-slide intro-slide1">
                                <figure class="slide-image">
                                    <picture class="h-100">
                                        <source media="(max-width: 480px)" srcset="assets/images/category/bathroom-mirror.jpg">
                                        <img src="assets/images/category/bathroom-mirror.jpg" alt="Image Desc"
                                            width="772" height="430" style="background-color: #c29763;" />
                                    </picture>
                                </figure>

                                <div class="intro-content">
                                    <h3 class="intro-subtitle font-weight-normal" contentAnim aniName="fadeInUpShorter">{{"HOME.BANNER.TOPSALE" | translate}}</h3>
                                    <h1 class="intro-title font-weight-bolder" contentAnim aniName="fadeInUpShorter">{{"HOME.BANNER.BEST_LIGHTING" | translate}}</h1>

                                    <a routerLink="/shop/sidebar/3cols" class="btn btn-outline-white" contentAnim aniName="fadeInUpShorter">
                                        <span>{{"HOME.SHOP_NOW" | translate}}</span>
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="intro-slide intro-slide2">
                                <figure class="slide-image">
                                    <picture class="h-100">
                                        <source media="(max-width: 480px)" srcset="assets/images/category/wall-mirror.jpg">
                                        <img src="assets/images/category/wall-mirror.jpg" alt="Image Desc"
                                        width="772" height="430" style="background-color: #9ac5cb;">
                                    </picture>
                                </figure>

                                <div class="intro-content">
                                    <h3 class="intro-subtitle font-weight-normal" contentAnim aniName="fadeInUpShorter">{{"HOME.BANNER.TOPSALE" | translate}}</h3>
                                    <h1 class="intro-title font-weight-bolder" contentAnim aniName="fadeInUpShorter">Wood Cabinet</h1>
                                    <h3 class="intro-price font-weight-bolder text-white" contentAnim aniName="fadeInUpShorter"><sup class="font-weight-light">from</sup>$59.99</h3>

                                    <a routerLink="/shop/sidebar/3cols" class="btn btn-outline-white" contentAnim aniName="fadeInUpShorter">
                                        <span>{{"HOME.SHOP_NOW" | translate}}</span>
                                        <i class="icon-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </owl-carousel>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="intro-banners">
                        <div class="row row-sm">
                            <div class="col-sm-6 col-lg-12">
                                <div class="banner">
                                    <a routerLink="/shop/sidebar/3cols">
                                        <molla-image src="assets/images/home/banner/1.jpg" alt="Banner"
                                            width="375" height="205" fixedPt="205px" style="background-color: #f3ebda;"></molla-image>
                                    </a>

                                    <div class="banner-content pt-0">
                                        <h4 class="banner-subtitle font-weight-normal">{{"HOME.BANNER.CLEARENCE" | translate}}</h4>
                                        <h3 class="banner-title font-weight-bolder">Mirror <br>
                                            <span class="font-weight-lighter">Up to 40% off</span></h3>
                                        <a routerLink="/shop/sidebar/3cols" class="btn banner-link">{{"HOME.SHOP_NOW" | translate}}</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-lg-12">
                                <div class="banner mb-0">
                                    <a routerLink="/shop/sidebar/3cols">
                                        <molla-image src="assets/images/home/banner/2.jpg" alt="Banner"
                                            width="375" height="205" fixedPt="205px" style="background-color: #e5e7da;" ></molla-image>
                                    </a>

                                    <div class="banner-content pt-0">
                                        <h4 class="banner-subtitle font-weight-normal">{{"HOME.BANNER.SALE" | translate}}</h4>
                                        <h3 class="banner-title font-weight-bolder">Decorative <br>
                                            <span class="font-weight-lighter">Up to 30% off</span></h3>
                                        <a routerLink="/shop/sidebar/3cols" class="btn banner-link">{{"HOME.SHOP_NOW" | translate}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-6"></div>

    <div class="container categories position-relative">
        <h2 class="title font-weight-bolder text-center" contentAnim aniName="blurIn">{{"HOME.CATEGORIES.SHOP_BY_CATEGORIES" | translate}}</h2>

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="banner banner-big">
                    <a routerLink="/shop/sidebar/list">
                        <molla-image src="assets/images/category/wall-mirror.png" alt="Banner"
                            width="376" height="540" fixedPt="540px"></molla-image>
                    </a>

                    <div class="banner-content text-center bg-white">
                        <h2 class="banner-title font-weight-bolder mb-0">Wall Mirror</h2>
                        <a routerLink="/shop/sidebar/list" class="btn btn-primary btn-rounded">{{"HOME.SHOP_NOW" | translate}}<i class="icon-long-arrow-right mr-0"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="row">
                  <div class="col-md-12 col-sm-6">
                      <div class="banner">
                          <a routerLink="/shop/sidebar/list">
                              <molla-image src="assets/images/category/vanity-mirror.jpg" alt="Banner"
                                  width="376" height="260" fixedPt="260px"></molla-image>
                          </a>

                          <div class="banner-content text-center bg-white">
                              <h2 class="banner-title font-weight-bolder mb-0">Vanity Mirror</h2>
                              <a routerLink="/shop/sidebar/list" class="btn btn-primary btn-rounded">{{"HOME.SHOP_NOW" | translate}}<i class="icon-long-arrow-right mr-0"></i></a>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-12 col-sm-6">
                      <div class="banner">
                          <a routerLink="/shop/sidebar/list">
                              <molla-image src="assets/images/category/decorative-mirror.jpg" alt="Banner"
                                  width="376" height="260" fixedPt="260px"></molla-image>
                          </a>

                          <div class="banner-content text-center bg-white">
                              <h2 class="banner-title font-weight-bolder mb-0">Decorative Mirror</h2>
                              <a routerLink="/shop/sidebar/list" class="btn btn-primary btn-rounded">{{"HOME.SHOP_NOW" | translate}}<i class="icon-long-arrow-right mr-0"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
            <div class="col-sm-6 col-md-4">
                <div class="banner banner-big">
                    <a routerLink="/shop/sidebar/list">
                        <molla-image src="assets/images/category/floor-mirror.jpg" alt="Banner"
                            width="376" height="540" fixedPt="540px"></molla-image>
                    </a>

                    <div class="banner-content text-center bg-white">
                        <h2 class="banner-title font-weight-bolder mb-0">Floor Mirror</h2>
                        <a routerLink="/shop/sidebar/list" class="btn btn-primary btn-rounded">{{"HOME.SHOP_NOW" | translate}}<i class="icon-long-arrow-right mr-0"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-12">
              <div class="row">
                  <div class="col-md-3 col-sm-0"></div>
                  <div class="col-md-6 col-sm-12">
                      <div class="banner">
                          <a routerLink="/shop/sidebar/list">
                              <molla-image src="assets/images/category/bathroom-mirror.jpg" alt="Banner"
                                  width="376" height="400" fixedPt="260px"></molla-image>
                          </a>

                          <div class="banner-content text-center bg-white">
                              <h2 class="banner-title font-weight-bolder mb-0">Bathroom Mirror</h2>
                              <a routerLink="/shop/sidebar/list" class="btn btn-primary btn-rounded">{{"HOME.SHOP_NOW" | translate}}<i class="icon-long-arrow-right mr-0"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-0"></div>

              </div>
          </div>
        </div>
    </div>

    <div class="mb-4 mb-lg-9"></div>

    <molla-recent-collection [products]="products" [loaded]="loaded"></molla-recent-collection>

    <div class="container">
        <hr>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="icon-box icon-box-card text-center" contentAnim aniName="fadeInLeftShorter">
                    <span class="icon-box-icon">
                        <i class="icon-rocket"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">{{"HOME.UTILS.PAYMENT_DELIVERY" | translate}}</h3>
                        <p class="font-weight-normal">{{"HOME.UTILS.FREE_SHIPPING" | translate}}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="icon-box icon-box-card text-center" contentAnim aniName="fadeInUpShorter">
                    <span class="icon-box-icon">
                        <i class="icon-rotate-left"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">{{"HOME.UTILS.RETURN_REFUND" | translate}}</h3>
                        <p class="font-weight-normal">{{"HOME.UTILS.GUARANTEE" | translate}}</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="icon-box icon-box-card text-center" contentAnim aniName="fadeInRightShorter">
                    <span class="icon-box-icon">
                        <i class="icon-life-ring"></i>
                    </span>
                    <div class="icon-box-content">
                        <h3 class="icon-box-title">{{"HOME.UTILS.QUALITY_SUPPORT" | translate}}</h3>
                        <p class="font-weight-normal">{{"HOME.UTILS.FEEDBACK" | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2"></div>
    </div>
</main>
